<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MESquare.Paparazzi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MESquare.Paparazzi.Properties.Settings>
            <setting name="PAPARAZZI_TIMER_INTERVAL" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PAPARAZZI_DESTINY_FOLDER" serializeAs="String">
                <value>.\Screenshots </value>
            </setting>
            <setting name="PAPARAZZI_TIMER_INTERVAL_UNIT" serializeAs="String">
                <value>Minutes</value>
            </setting>
            <setting name="PAPARAZZI_COUNTDOWN_INTERVAL" serializeAs="String">
                <value>500</value>
            </setting>
        </MESquare.Paparazzi.Properties.Settings>
    </userSettings>
</configuration>